@charset "ISO-8859-1";

 html { margin-top: 20px; }
#chat-content { 
	height: 180px;  
	overflow-y: scroll; 
}
    
#videoPage{
	display: none;
}

#remote-video-template{
	display: none;
}
#chat-content-template{
	display: none;
}

#chat-template{
	display: none;
}

#skripte{
	display: none;
}

#local-video{
	width: 66%;
    height: auto;
    right: 3%;
    position: absolute;
}

#remoteVideoDIV video{
	width: 68%;
    height: auto;
     z-index: 1000;
/* 	right: 2%;
    top: 550%; */
	
}
#remote-videos{
	position: absolute;
    left: 561px;
    top: 260px;
    z-index: 1000;
}

.connectionstate {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff
}

.volume {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 2px;
    height: 10px;
}

.muted, .paused{
    display: none;
    position: absolute;
    z-index: 1;
    color: #12acef;
}

.muted{
    left: 0px;
    bottom: 10%;
    width: 100%;
}
.paused{
    left: 0px;
    top: 40%;
    width: 100%;
}    